#High-Scores {
    background-color: blueviolet;
    color: blue;
}

header {
    margin: 30px;
}

#timer {
    float: right;
}


#Instructions,
h1 {
    justify-content: center;
    display: flex;
}


